<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Knowledge Check 3</title>
</head>
<body>
  <form action="/add" method="POST">
    <h1>Add Book</h1>
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price"><br>
    <label for="availability">Availability:</label><br>
    <input type="text" id="availability" name="availability"><br><br>
    <input type="submit" value="Submit">
  </form>
  <button type="button"><a href="/">Back to Home</a></button>
</body>
</html>