{% extends "base.html" %}

{% block title %}{% endblock %}
{% block content %}
<h1 class="text-3xl">Add a New Article</h1>
<form action="/add" method="POST">
  <label for="title">Title</label>
  <br />
  <input type="text" name="title" id="title" class="ml-5 mt-5 mb-5 border border-gray-900 w-85" required>
  <br />
  <label for="description">Description</label>
  <br />
  <input type="text" name="description" id="description" class="ml-5 mt-5 mb-5 border border-gray-900 w-85" required>
  <br />
  <label for="article_link">Link</label>
  <br />
  <input type="url" name="article_link" id="article_link" class="ml-5 mt-5 mb-5 border border-gray-900 w-85" required>
  <br />
  <button type="submit" class="bg-blue-500 text-white p-5 rounded m-10 cursor-pointer">Add</button>
  <button type="button" class="bg-gray-400 text-white p-5 rounded m-10 cursor-pointer"><a href="/">Return to Home</button>
</form>
{% endblock %}