<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Knowledge Check 2</title>
  <style>
    ul {
      list-style-type: none;
    }
    li {
      padding: 20px 10px;
      margin: 20px;
      font-size: larger;
    }
    body {
        background-color: aliceblue;
      }
    .data {
      background-color: lightgray;
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <h1>Top 20 Books scraped from <a href="https://books.toscrape.com/">Books to Scrape</a></h1>
  <ul>
    {% for data in data %}
      <li class="data">{{ data.id }} - [{{ data.availability }}] - {{ data.title }} costs {{ data.price }}</li>
    {% endfor %}
  </ul>
</body>
</html>